.banner{
	background-image:linear-gradient(-225deg, rgba(0,0,0,0.9)0%, rgba(0,0,0,0.2)50%),url(../../images/background.jpg);
	color:white;
	background-color: black;
	padding: 20px 50px;
	background-size: cover;
	background-position: center;
	height: 300px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}
.banner img{
	width: 160px;
}

.banner h1 {
	font-size: 25px; 
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px; 
	color: white;
	text-align: center;
	position: relative;
	left: 20%;
	top:20px;
	width: 60%;
	background-color: rgba(31,31,31, 0.5);
}
.banner a{
	background-color: rgb(59, 62, 60);
	color: rgb(173, 223, 230);
	font-size: 16px;
}
.banner a:hover {
  color: rgb(203, 79, 79);;
  transition: color 1s ease;
 }
.banner a.banner-btn-blue {
  background-color: rgb(59, 62, 60);
  color: rgb(173, 223, 230);
  font-size: 15px;
  text-align: center;
  position: absolute;
  width: 150px;
  top: 20px;
  right: 250px;
  padding: 10px 20px;
  border-radius: 2px;
}
  .banner a.banner-btn-blue:hover {
	background-color: rgb(173, 223, 230);
	color: rgb(59, 62, 60);
  }

.banner a.banner-btn-blue2 {
	background-color: rgb(59, 62, 60);
	color: rgb(173, 223, 230);
	font-size: 15px;
	text-align: center;
    width: 150px;
	position: absolute;
	top: 20px;
	right: 50px;
	padding: 10px 20px;
	border-radius: 2px;
  }
   .banner a.banner-btn-blue2:hover {
	background-color: rgb(173, 223, 230);
	color: rgb(59, 62, 60);
  }
 
  